* {
  box-sizing: border-box;
}

html {
  height: 100%;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  border: 0;
  height: 100%;
  width: 100%;
  font-size: 16px;
  overflow-x: hidden;
}

body > div#__nuxt {
  height: 100%;
  width: 100%;
}
