@use "colors" as *;

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin overflow-ellipsis {
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

@mixin custom-scrollbar(
  $width: 10px,
  $border-radius: 4px,
  $thumb-color: $green-600,
  $track-color: $orange-100
) {
  &::-webkit-scrollbar {
    width: $width;
  }

  &::-webkit-scrollbar-track {
    width: $width;
    background: $track-color;
  }

  &::-webkit-scrollbar-thumb {
    width: $width;
    background-color: $thumb-color;
    border-radius: $border-radius;

    &:hover {
      background-color: $green-800;
    }
  }

  ::-webkit-scrollbar-corner {
    background: $track-color;
  }
}

@mixin section-category-dropdown-link() {
  background-color: $green-400;
  border: 3px solid $green-800;
  transition: all 0.1s;

  &:first-of-type {
    border-radius: 0 18px 0 0;
  }

  &:last-of-type {
    border-radius: 0 0 18px 18px;
  }

  &:hover {
    background: $orange-300;
    border: 3px solid $orange-900;
  }

  &:has(.active) {
    background: $orange-400;
    border: 3px solid $orange-700;
  }
}

@mixin dropdown-style() {
  display: flex;
  flex-flow: column;
  gap: 4px;
}


