@font-face {
  font-family: "Anime Ace v05";
  src: url("./anime-ace-v05.ttf") format("truetype");
  font-weight: 125 950;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("./Montserrat-VariableFont_wght.ttf") format("truetype");
  font-weight: 125 950;
  font-stretch: 75% 125%;
  font-style: normal;
  font-display: swap;
}

