// Font families are defined in /public/fonts/fonts.css and loaded via HTML head
// This file only exports the font family variables for use in SCSS

$font-family-primary: "Anime Ace v05", Montserrat, Calibri, Helvetica, sans-serif;
$font-family-secondary: Montserrat, Calibri, Helvetica, sans-serif;
$font-family-tertiary: Calibri, Helvetica, sans-serif;
