@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin overflow-ellipsis {
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

