@font-face {
  font-family: "Anime Ace v05";
  src: url("../fonts/anime acev05.ttf") format("ttf");
  font-weight: 125 950;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-VariableFont_wght.ttf") format("ttf");
  font-weight: 125 950;
  font-stretch: 75% 125%;
  font-style: normal;
}

$font-family-primary: "Anime Ace v05", Montserrat, Calibri, Helvetica, sans-serif;
$font-family-secondary: Montserrat, Calibri, Helvetica, sans-serif;
$font-family-tertiary: Calibri, Helvetica, sans-serif;

